<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View</title>
</head>
<body>


<div class="container">
	<article>
		<h2 th:text="${discussion.catchphrase}"></h2>
		<div >
			<i>Posted on </i>
			<span th:text="${#dates.format(discussion.date,'dd-MM-yyyy')}">20-10-2017</span>
			<i>.By</i>
			<span th:text="${discussion.name}"></span>
		</div>
		<p th:utext="${discussion.artist}"> Artist: </p>
	<textarea rows="15" cols="100" readonly="readonly" style="background-color:Black; color:Lime;"
							th:utext="${discussion.thought}">
							</textarea>
	</article>
	
</div>

</body>
</html>